@CHARSET "UTF-8";

body {
    font-family:  cursive;
  	font-style: italic;
  	color: white;
    background-color: lightblue;
    background-image: url("../img/tlo2.jpg");
    background-size: 100%, 100%;
}
a:link {
    color: white;
    

}
a:visited{ 
	color :salmon;
	
}
#div1 {
	text-align: right;
	background-image: url("../img/z.jpg");
    background-repeat: no-repeat;
	background-position: center;
}
#div2 {
	text-align: center;
	
}
button {
    font-size: 18px;
    color:  salmon;
}
