{% extends "base.html" %}
{% block content %}
<form method = 'post'>
	
	{% csrf_token %}
		<p><a href = "{% url 'order_list' %}">Pokaż poprzednie zamówienia</a></p>
		
	    {% for f in Przystawki %}
	  	<hr>
	  	<ul> <h3>{{f.get_type_display }}</h3> </ul>
	  	<hr>
	    	<li> {{ f.name }}  cena: {{ f.price }}  ilość: <input type = 'number' min="0" max="100" name="{{ f.id }}"  value="0"></input></li>
	    
	    {% endfor %}
	   
	    {% for f in Zupy %}
	  	<hr>
	  	<ul> <h3>{{f.get_type_display }}</h3> </ul>
	  	<hr>
	    	<li> {{ f.name }}  cena: {{ f.price }}  ilość: <input type = 'number' maxlenght='2' name="{{ f.id }}"  value="0"></input></li>
	    
	    {% endfor %}
	   
	   
	    {% for f in Dania %}
	  	<hr>
	  	<ul> <h3>{{f.get_type_display }}</h3> </ul>
	  	<hr>
	    	<li> {{ f.name }}  cena: {{ f.price }}  ilość: <input type = 'number' maxlenght='2' name="{{ f.id }}"  value="0"></input></li>
	    
	    {% endfor %}
	   
	   
	    {% for f in Dodatki %}
	  	<hr>
	  	<ul> <h3>{{f.get_type_display }}</h3> </ul>
	  	<hr>
	    	<li> {{ f.name }}  cena: {{ f.price }}  ilość: <input type = 'number' maxlenght='2' name="{{ f.id }}"  value="0"></input></li>
	    
	    {% endfor %}
	   
	   
	   	{% for f in Desery %}
	  	<hr>
	  	<ul> <h3>{{f.get_type_display }}</h3> </ul>
	  	<hr>
	    	<li> {{ f.name }}  cena: {{ f.price }}  ilość: <input type = 'number' maxlenght='2' name="{{ f.id }}"  value="0"></input></li>
	    
	    {% endfor %}
	   
	   	{% for f in Napoje %}
	  	<hr>
	  	<ul> <h3>{{f.get_type_display }}</h3> </ul>
	  	<hr>
	    	<li> {{ f.name }}  cena: {{ f.price }}  ilość: <input type = 'number' maxlenght='2' name="{{ f.id }}"  value="0"></input></li>
	    
	   {% endfor %}
	<p><button type='submit'>Zamów</button></p>
	</form>
{% endblock %}